<nav class="navbar custom-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"
        href="#">
        <img src="/assets/chicken.png" />
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid header">

  <div class="container">

    <div>

      <div class="header-style">

        <h1>Ristorante Il Fornello</h1>

        <p style="padding: 25px;"></p>

        <p class="header-description">Simple, fresh ingredients, prepared and cooked with love and passion become truly great dishes, from wood-oven baked
          Neapolitan style pizzas to pastas, entrees!</p>

      </div>

      <div>

      </div>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h2>Fichipizza</h2>

      <p>A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando panado,
        honey and arugula.</p>

      <p>
        <a href="#">More &raquo;</a>
      </p>

    </div>

    <div class="col-md-6">

      <p style="padding:20px;"></p>

      <h3 align=center>Our Unique Culinary Creations</h3>

    </div>


  </div>

  <hr>



  <div class="row">

    <div class="col-md-6">

      <p style="padding:20px;"></p>

      <h3 align=center>This Month's Promotions</h3>

    </div>

    <div class="col-md-6">

      <h2>Weekend Grand Buffet</h2>

      <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees
        and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person </p>

      <p>
        <a href="#">More &raquo;</a>
      </p>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">

      <h2>Tommy McHugh</h2>

      <h4>Executive Chef</h4>

      <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the
        culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences. </p>

      <p>
        <a href="#">More &raquo;</a>
      </p>

    </div>

    <div class="col-md-6">

      <p style="padding:20px;"></p>

      <h3 align=center>Meet our Culinary Specialists</h3>


    </div>


  </div>

</div>

<hr/>

<div class="container">
  <h2>Menu</h2>
  <div class="row">
    <div class="col-md-3"
      *ngFor="let submenu of menu;">
      <h4>{{submenu.name}}</h4>
      <div *ngFor="let item of submenu.list">
        {{item.name}} {{item.price}}
      </div>
    </div>
  </div>
</div>

<footer class="footer-style">

  <div class="container footer-container">

    <div class="row">

      <div class="col-md-2">

        <h5 class="link-style">Links</h5>

        <ul class="link-list-style">

          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">About</a>
          </li>

          <li>
            <a href="#">Menu</a>
          </li>

          <li>
            <a href="#">Contact</a>
          </li>

        </ul>

      </div>

      <div class="col-md-4">

        <h5 class="address-title">Our Address</h5>

        <address>

          214, King Street West
          <br> Downtown, Toronto
          <br> ONTARIO

          <br>
          <span class="glyphicon glyphicon-earphone"></span> +416 1234 5678
          <br>
          <span class="glyphicon glyphicon-briefcase"></span> +416 8765 4321
          <br>
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>

        </address>

      </div>

      <div class="col-md-6">

        <div class="social-links">

          <a href="http://google.com/+">
            <span class="fa fa-google-plus-square"></span>
          </a>

          <a href="http://www.facebook.com/profile.php?id=">
            <span class="fa fa-facebook-square"></span>
          </a>

          <a href="http://www.linkedin.com/in/">
            <span class="fa fa-linkedin-square"></span>
          </a>

          <a href="http://twitter.com/">
            <span class="fa fa-twitter-square"></span>
          </a>

          <a href="http://youtube.com/">
            <span class="fa fa-youtube-square"></span>
          </a>

          <a href="mailto:">
            <span class="fa fa-envelope"></span>
          </a>

        </div>

      </div>


    </div>
    <div class="row">

      <p align=center>© Copyright 2015 Ristorante Il Fornello</p>

    </div>

  </div>

</footer>